$accent-color: #650303;
$hover-color: #E60E0E;

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background: $accent-color;
    font-family: 'Roboto', Verdana, Arial, sans-serif;
    font-weight: 300;
    color: #131313;
    overflow-y: scroll;
}

strong, b {
    font-weight: 500;
}

.wrapper {
    width: 100%;
    max-width: 680px;
    background: #FFF;
    margin: 20px auto;
    padding: 40px;
    text-align: center;
    
    @media (max-width: 680px) {
        padding: 20px;
    }
    
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
       -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
         -o-box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
            box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
            
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
    
    
    h1.title {
        margin-top: 0;
        font-weight: 500;
    }
    
    a#reload-button {
        color: #FFF;
        font-weight: 500;
        background: $accent-color;
        padding: 5px 10px;
        display: inline-block;
        text-decoration: none;
        margin-bottom: 20px;
        
        &:hover {
            background: $hover-color;
        }
    }
    
    table {
        width: 100%;
        border: solid 1px #C5C5C5;
        
        thead {
            tr {
                background: $accent-color;
                color: #FFF;
                
                th {
                    text-align: left;
                    padding: 12px 10px;
                    font-weight: 500;
                    
                    &:nth-child(2) {
                        text-align: right;
                    }
                    
                    &:nth-child(3) {
                        text-align: center;
                    }
                }
            }
        }
        
        tbody {
            tr {
                &:nth-child(even) {
                    background: #E4E4E4;;
                }
                
                td {
                    padding: 7px 10px;
                    text-align: left;
                    
                    &:nth-child(1) {
                        width: 1px;
                        padding-right: 0;
                    }
                    
                    &:nth-child(2) {
                        padding-left: 5px;
                    }
                    
                    &:nth-child(1),
                    &:nth-child(2){
                        font-weight: 500;   
                    }
                    
                    &:nth-child(3) {
                        text-align: right;
                    }
                    
                    &:nth-child(4) {
                        text-align: center;
                    }
                    
                    i.fa {
                        color: $accent-color;
                        
                        &:hover {
                            color: $hover-color;
                        }
                    }
                }
            }
        }
    }
}

#imprint-toggle {
    margin-top: 1em;
    display: block;
}

#imprint-wrapper {
    text-align: left;
}