/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
}

body {
    background: #422300;
}

div#wrapper {
    width: 980px;
    padding: 20px;
    margin: 20px auto;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 20px #000;
}

h1.pagetitle {
    margin-top: 0;
}
section#main {
    float: left;
}

aside#sidebar {
    float: right;
    width: 400px;
}

aside#sidebar .box{
    border: solid 1px #ddd;
}

aside#sidebar .box h2.title {
    margin: 0;
    padding: 5px;
    font-size: 1em;
    width: 100%;
    background: #5F5F5F;
    font-weight: bold;
    color: #FFF;
}

aside#sidebar .box .content{
    padding: 10px;
}

.clashtag {
    padding: 5px;
}

#votenowbox ul {
    margin: 0;
    padding: 0;
    margin-left: -20px;
}

#votenowbox ul li {
    float: left;
    list-style: none;
    list-style-image: none;
}

#votenowbox ul li a {
    display: block;
    width: 112px;
    margin: 0 0 20px 20px;
    text-decoration: none;
    color: #FFF;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: all .4s ease;
}

#votenowbox ul li a:hover{
    box-shadow: 0 0 5px #000;
    transform: rotate(5deg);
}


table#resultlist {
    border: solid 1px #ddd;
}
table#resultlist td, table#resultlist th{
    padding: 5px 10px;
    text-align: left;
}

table#resultlist th{
   background: #5F5F5F;
   color: #FFF
}

table#resultlist td {
    font-weight: bold;
}

table#resultlist tr.clash-a td, .clash-a{
    background: #d02013;
    color: #FFF;
}

table#resultlist tr.clash-b td, .clash-b{
    background: #00899f;
    color: #FFF;
}

table#resultlist tfoot small {
    text-align: right;
    width: 100%;
    display: block;
}











@media only screen and (max-width:1000px) {
    body {
        background: #FFF;
    }

    div#wrapper {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }

    section#main {
        float: none;
        width: 100%;
    }

    aside#sidebar {
        float: none;
        width:  100%;
        margin-top: 30px;
    }

    table#resultlist {
        width: 100%;
    }

    #votenowbox ul {
        margin: 0;
    }
    #votenowbox ul li {
        float: none;
        width: 100%;
    }

    #votenowbox ul li a {
        width: inherit;
        height: auto;
        margin: 0 0 10px 0;
        line-height: initial;
        padding: 8px;
        text-align: left;
    }

    #votenowbox ul li a:hover {
        transform: none;
        box-shadow: none;
    }

    #votenowbox ul li a:after {
        content: ">";
        display: inline-block;
        float: right;
        background: #FFF;
        color: #000;
        width: 18px;
        border-radius: 100%;
        text-align: center;
        height: 18px;
        line-height: 19px;
        opacity: .8;
    }
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
