<!DOCTYPE html>
<html ng-app="tubeclash">
    <head>
        <title>Tubeclash Voting Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="TubeClash Voting Ergebnisse">
        <meta property="og:site_name" content="TubeClash Voting Ergebnisse">
        <meta property="og:url" content="https://apps.bahuma.io/tubeclash/">
        <meta property="og:description" content="Auf dieser Seite seht ihr die aktuelle Rangliste des #TubeClash Votings.
        Außerdem könnt ihr auch gleich für eure Lieblings-Kandidaten voten.">
        <meta property="fb:app_id" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://apps.bahuma.io/tubeclash/images/og-img.jpg">
        <link rel="stylesheet" href="./bower_components/normalize.css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="./bower_components/components-font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="./css/app.css">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-54327419-1', 'auto');
          ga('send', 'pageview');
        
        </script>
    </head>
    <body ng-controller="AppCtrl">
        <div class="wrapper">
            
        
        <h1 class="title">TubeClash Voting Ergebnisse</h1>
        <p>Auf dieser Seite seht ihr die <strong>aktuelle Rangliste</strong> des #TubeClash Votings.<br>Außerdem könnt ihr auch gleich für eure Lieblings-Kandidaten voten.</p>
        <p class="share-hint">Teile dieses Scoreboard mit deinen Freunden: 
        <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fbit.ly%2Ftubeclash-voting" target="_blank"><i class="fa fa-twitter" style="color: #55acee"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbit.ly%2Ftubeclash-voting" target="_blank"><i class="fa fa-facebook" style="color: #3b5998"></i></a>
        </p>
        
        <a href="#" id="reload-button" ng-click="getVotes()"><i class="fa fa-refresh"></i> Aktualisieren</a>
        
        <table>
            <thead>
                <tr>
                    <th colspan="2">Name</th>
                    <th>Stimmen</th>
                    <th>Vote</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clasher in scoreboard | orderBy:'-votes'">
                    <td>{{$index + 1}}.</td>
                    <td>{{clasher.name}}</td>
                    <td>{{clasher.votes}}</td>
                    <td><a href="http://youtube.com/watch?v={{clasher.videoID}}" target="_blank"><i class="fa fa-arrow-up"></i></a></td>
                </tr>
            </tbody>
        </table>
        
        </div>
        
        <script type="text/javascript" src="./bower_components/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="./js/app.js"></script>
    </body>
</html>